@media (max-width: 1490px){
    body{
        padding: 0;
    }
    .layout{
        min-width: auto;
        width: 85%;
    }
}
@media (max-width: 1320px){
    .layout{
        width: 89%;
        margin-left: 3rem;
    }
}
@media (max-width: 1160px){
    .layout{
        margin-left: 2rem;
    }
    .certificates__certificate{
        flex-basis: 100%;
    }
}

@media (max-width: 1060px){
    body{
        background-image: none;
        position: static; /* posicionamiento normal */
    }
    /* cambiamos la visión para que se expanda al 100% de la pantalla y que únicamente sea visible la parte de contenido en nuestro Grid Areas */
    .layout{
        width: 100%;
        height: 100%;
        min-height: 100%;
        margin: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;

        grid-template-areas: 'content';
        grid-template-columns: 100%;
    }
    /* ocultamos el aside en Responsivo */
    .layout__aside{
        display:  none;
    }
    .layout__content{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        background-color: transparent;
        height: 100%;
        width: 100%;
    }
    .content__page{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        height: 100vh; /* le asigno toda la altura que tengo visible de mi viewport - pantalla */
    }
    .layout__menu{
        position: static; /* el elemento ya no me aparece visible */
    }
}

@media (max-width: 800px){
    .reviews__container{
        flex-flow: column wrap;
    }
    .reviews__review{
        margin-top: 6rem;
        flex-basis: 100%;
    }

    .clients__container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width: 585px){
    .prices__container{
        flex-flow: column wrap;
    }
    .prices__box{
        flex-basis: 100%;
        margin-top: 2rem;
    }
    .extra__container{
        flex-flow: column wrap;
    }
    .extra__info{
        flex-basis: 100%;
        margin-top: 2rem;
    }
    .blog__articles{
        flex-flow: column wrap;
    }
    .gallery__item{
        flex-basis: 50%;
        padding: 0.5rem;
    }
    .portfolio__option{
        font-size: 1rem;
    }

    .services__container{
        flex-flow: column wrap;
    }
    .services__service{
        flex-basis: 100%;
        margin-right: 0%;
        margin-bottom: 3rem;
    }

    /* curriculum */
    .resume__container{
        flex-flow: column wrap;
    }
    .resume__left{
        flex-basis: 100%;
    }
    .resume__right{
        flex-basis: 100%;
    }
    .resume__certificates{
        margin-top: 3rem;
    }

    /* contacto */
    .contact__container{
        flex-flow: column wrap;
    }
}

@media (max-width: 480px){
    .page__name{
        font-size: 4.8rem;
        line-height: 5.6rem;
        text-align: center;
    }
    .certificate__logo{
        width: 100%;
    }

    .gallery__item{
        flex-basis: 100%;
    }
    /* contacto */
    .form__container{
        flex-flow: column wrap;
    }
    .form__left{
        flex-basis: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .form__right{
        flex-basis: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}